<ul class="nav nav-pills nav-stacked">
    <% if @course.lessons %>
    <% @course.lessons.each do |lesson| %>
    <li class="nav-item"><%= link_to "#{lesson.title}", course_lesson_path(@course, lesson) %></li>
    <% end %>
    <% end %>  
    <li class="nav-item"><%= link_to '<< Back to menu', course_path(@course) %></li>         
</ul>