<p id="notice"><%= notice %></p>
<div class="container-fluid">
	<div class="row">
		<h1 class="text-center"><%= @course.coursename %></h1>
	</div>
	<div class="row">
		<div class="col-sm-2" id="cssmenu" role="navigation">
			<%= render 'sidebar' %>
		</div>
		<div class="col-sm-8">
			<p>Lorem fistrum mamaar ese que llega apetecan jarl benemeritaar ese pedazo de. Diodeno mamaar ese que llega benemeritaar. Te va a hasé pupitaa torpedo torpedo a wan quietooor. Diodeno ese hombree a peich apetecan torpedo qué dise usteer quietooor por la gloria de mi madre qué dise usteer. A gramenawer la caidita papaar papaar se calle ustée se calle ustée pecador qué dise usteer papaar papaar jarl.</p>
			<p>Te voy a borrar el cerito te voy a borrar el cerito caballo blanco caballo negroorl ese pedazo de. Hasta luego Lucas está la cosa muy malar la caidita pupita te voy a borrar el cerito torpedo ese pedazo de va usté muy cargadoo pupita por la gloria de mi madre. Está la cosa muy malar llevame al sircoo ese pedazo de a peich apetecan tiene musho peligro. Al ataquerl no puedor jarl caballo blanco caballo negroorl jarl ahorarr a gramenawer ese pedazo de por la gloria de mi madre diodenoo. A wan ahorarr la caidita mamaar. Quietooor ese que llega diodeno de la pradera va usté muy cargadoo diodenoo de la pradera. Mamaar de la pradera va usté muy cargadoo llevame al sircoo torpedo mamaar al ataquerl pupita no puedor jarl ahorarr. Te va a hasé pupitaa condemor ese que llega a gramenawer está la cosa muy malar ese pedazo de mamaar. Fistro al ataquerl te voy a borrar el cerito benemeritaar. </p>
			<p>Qué dise usteer condemor condemor fistro no puedor va usté muy cargadoo papaar papaar no te digo trigo por no llamarte Rodrigor amatomaa apetecan. Te va a hasé pupitaa diodeno por la gloria de mi madre diodeno te voy a borrar el cerito no te digo trigo por no llamarte Rodrigor va usté muy cargadoo benemeritaar sexuarl pupita. Llevame al sircoo diodenoo ese hombree papaar papaar apetecan pupita pupita. Va usté muy cargadoo diodenoo está la cosa muy malar torpedo. Ese pedazo de ese hombree mamaar mamaar la caidita diodenoo está la cosa muy malar por la gloria de mi madre. Pupita se calle ustée te va a hasé pupitaa llevame al sircoo te va a hasé pupitaa amatomaa. Fistro por la gloria de mi madre te voy a borrar el cerito amatomaa. Va usté muy cargadoo ese hombree qué dise usteer jarl está la cosa muy malar va usté muy cargadoo ese hombree jarl no te digo trigo por no llamarte Rodrigor qué dise usteer.</p>
		</div>
	</div>
</div>



